@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.top-menu-expanded {
  @apply absolute top-full z-10 w-full text-center bg-white animate-slideDown;
}

.top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.top-menu-item-active {
  @apply text-gray-800;
}
.cs-icon {
  @apply w-5 h-5 inline-block;
}

.badge-circle {
  @apply text-xs text-center rounded-full px-1.5;
}

.subheadline {
  @apply flex justify-center items-center mb-24;
}
.subheadline-deco-line {
  @apply flex justify-center w-8 h-px bg-gray-200;
}
.subheadline-label {
  @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-sm text-center;
}
